{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

<link href="{% static "bootstrap/css/bootstrap.css" %}" rel= "stylesheet">
<link href="{% static "ListJobs.css" %}" rel="stylesheet">

    {% block morehead %}
        <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />
    {% endblock %}
<div id='map'></div>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
			</div>
			<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="Where To?">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Where To?<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="http://127.0.0.1:8000/MapIt">View Map</a>
								</li>
								<li>
									<a href="http://127.0.0.1:8000/main">Home</a>
								</li>
                                <li><a href="http://127.0.0.1:8000/main">Sources</a>
                                </li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> <button type="submit" class="btn btn-default">Submit</button>
					</form>
                    <form id="login_button" class="navbar-form navbar-right">
                        {% if user.username %}
                            <button type="button" class="btn btn-warning" onclick="window.location.href='/accounts/logout'">Logout</button>
                        {% else %}
                            <button type="button" class="btn btn-warning" onclick="window.location.href='/accounts/login'">Login/Register</button>
                        {% endif %}
                        {% if user.is_staff %}
                            <button type="button" class="btn btn-warning" onclick="window.location.href='/admin'">Admin</button>
                        {% endif %}
                    </form>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Full Job List</a>
								</li>
								<li>
									<a href="#">Jobs by title</a>
								</li>
								<li>
									<a href="#">Jobs by County</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

			</nav>

		</div>
	</div>
</div>
{% block content %}{% endblock %}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
{% block morescripts %}
    <script>
    var map = L.mapbox.map('map',
                            '{{ ajalli0695}}.{{jp2p35h9 }}',
            {maxZoom: 22});
    </script>
{% endblock %}
</body>
</html>

